.img_div {
  width: 100%;
  text-align: center;
}
.news_img {
  max-width: 100%;;
  max-height: 300px;
}

.news_main_div{
  width: 100vw;
  margin-left: -8px;
}

.news_form {
  margin: 0 auto;
  width: 55%;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
}

.title_news {
  grid-template-columns: 10% 80% 10%;
  display: grid;
  margin-bottom: 5px;
}

.text_news {
  font-size: 16px;
  margin-top: 10px;
}
