- provide(:create_btn_text, 'Edit contract')
- provide(:cancel_btn_text, 'Cancel')
- provide(:path, billing_contract_path)

h1
  | Edit billing contract
.container
  = render 'form', object: @biling_contract
