.lightContainer {
  width: 1000px;
  margin: auto;
  background-color: #fff;
  padding: 40px;
  margin: 10px;
  border-radius: 8px;
}

.title {
  text-align: left !important;
}

p {
  text-indent: 0;
}
