.lightContainer {
  width: 1000px;
  margin: auto;
  background-color: #fff;
  padding: 40px;
  margin: 10px;
  border-radius: 8px;
}

.title {
  text-align: left !important;
}

.pi {
  text-indent: 0;
}

@media (max-width: 992px) {
  .lightContainer {
    width: 100%;
    margin: 10px 0;
  }
}
