- breadcrumbs [\
  { home: true, url: home_path },\
  { title: 'Users', url: account_admin_users_path },\
  { title: 'User' }\
]
.content.p-4 = react_component('users/show/ShowUser', { id: @user.id })
