.items {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  width: 50%;
}

.title {
  font-weight: 600;
  width: 100%;
}

.red {
  color: red;
}

.green {
  color: green;
}
