- breadcrumbs [\
  { home: true, url: home_path },\
  { title: 'OSBBs', url: account_admin_osbbs_path },\
  { title: '  OSBB', }\
]
= react_component('ShowOsbb', props={osbb: @osbb.to_json})

/ .content.pt-4
/   .form-component
/     h1.title = t('.title')
/     .content-info
/       .info-content
/         span.name = t('.osbb-name')
/         span.value = @osbb.name
/       .info-content
/         span.name = t('.osbb-phone')
/         span.value = @osbb.phone
/       .info-content
/         span.name = t('.osbb-email')
/         span.value = @osbb.email
/       .info-content
/         span.name = t('.osbb-website')
/         span.value = link_to @osbb.website, "http://#{@osbb.website}", target: '_blank'
/       .info-content
/         span.name  iban
/         span.value = @osbb.account.iban
/       .info-content
/         span.name edrpou
/         span.value = @osbb.account.edrpou
/       .info-content
/         - if @osbb.address
/           span.name = t('.osbb-address')
/           - if @osbb.address.query
/             .map-box
/               = image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=400x300&markers=size:small%7Ccolor:red%7C#{@osbb.address.query.coordinates.first},#{@osbb.address.query.coordinates.last}&key=AIzaSyB79BaHbHY_1floWCNQ1nlSx78zj6CYG04", alt: "Map"
/               span.value = @osbb.address.full_address
/     .d-flex.justify-content-around.flex-wrap
/       = link_to edit_account_admin_osbb_path,
/                           class: 'btn btn-warning btn-custom'
/         = t('.btn-edit')
/       = link_to [:account, :admin, @osbb],
/                           method: :delete,
/                           data: { confirm: t('.confirmation') },
/                           class: 'btn btn-danger btn-custom'
/         = t('.btn-delete')
/       = link_to account_admin_osbbs_path, class: 'btn btn-info btn-custom'
/         = t('.btn-back')
