.myosbb {
  display: grid;
  grid-template-columns: 300px auto;
  width: 100vw;
}

.container {
  display: flex;
  justify-content: center;
  background-color: #fff;
  height: max-content;
  border-radius: 0 5px 5px 0;
  margin: 10px 0;
}


@media (max-width: 992px) {
  .myosbb {
    grid-template-columns: 1fr;
  }
}
