$black: #000;
$text-raisin: #262626;
$light-steel-blue: #448ab5;
$gainsboro: #e6e6e68f;
$solitude: #f8f9fa6e;
$opacity-gray: rgba(255, 255, 255, 0.7);
$opacity-black: rgba(18, 19, 19, 0.616);
$white: #fff;
$half-opacity-background: rgba(255, 255, 255, 0.5);
$whitesmoke: whitesmoke;
$white-blur: #eee;
$lola: #C1BFC1;
