@import url('https://fonts.googleapis.com/css2?family=David+Libre&display=swap');
.about-title {
  font-weight: bold;
  margin: 30px;
}
.about-paragraph {
  font-family: 'David Libre', serif;
  text-align: center;
  font-size: 2.3em;
}
.about-paragraph span{
  font-weight: bold;
}
.row {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.column {
	float: left;
	margin-bottom: 16px;
	padding: 0 8px;
	flex: 1 0 33%;
	max-width: 350px;
	min-width: 200px;
	margin: 0 3% 3% 3%;
}
.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card img {
	width: 100%;
}
.profile_container {
	padding: 0 16px;
	&::after {
		content: "";
		clear: both;
		display: table;
  }
}
.profile_container h2{
  font-size: 1.2em;
  margin-top: 10px;
}
.profile_container p{
  text-indent: 0;
  font-size: 0.8em;
}
.title {
  color: grey;
  margin-bottom: 0;
}
@media screen and (max-width: 650px) {
	.column {
		width: 100%;
		display: block;
	}
}
