.box {
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  padding-top: 20px;
  padding-bottom: 20px; 

  nav.navbar.navbar-dark, table.table > thead.thead {
    background-color: $opasity-black;
    color: $white;
  }

  nav.navbar.navbar-dark {
    border-radius: 4px 4px 0 0;
  }

  table.table {
    background-color: $opasity-gray;
    span {
      min-height: 38px;
      display: inline-flex;
      align-items: center;
    }
  }
}
