.form-component {
  max-width: 750px;
  border: 1px solid black;
  display: block;
  margin: auto;
  padding: 20px;
  background-color: $opacity-gray;
  min-height: 36px;
  ul {
    padding: 0;
    li {
      margin: 5px;
      a {
        width: 180px;
      }
    }
  }

  button {
    width: 180px
  }
}

.bg-opacity-black {
  background-color: $opacity-black;
  color: $white;
  border-radius: 4px 4px 0 0;
}

.form-border-radius {
  border-top: 1px solid $white;
  border-radius: 0 0 4px 4px;
}

.content-info {
  margin-top: 20px;
  margin-left: 5px;
  .info-content {
    margin-top: 10px;
    .name {
      width: 240px;
      font-size: 20px;
      display: inline-flex;
    }
    .value {
      width: 340px;
    }
  }
}

.search-name {
  width: 300px;
}

.search-select {
  margin-left: 5px;
  margin-right: 5px;
  width: 150px;
}

.btn-custom {
  width: 180px;
  margin-top: 10px;
}

.btn-custom-for-import {
  margin-top: 10px;
  margin-left: 15px;
}
