.box {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  min-width: 600px;
  padding-bottom: 20px;

  nav.navbar.navbar-dark, .import-form, table.table > thead.thead {
    background-color: $opacity-black;
    color: $white;
  }

  .import-form {
    display: flex;
    justify-content: space-between;
    
    .export-bc > .dropdown > span {
      margin-right: 20px;
    }
    
    .import-bc > span {
      margin: 0 20px 0 80px;
    }
  }

  nav.navbar.navbar-dark {
    border-radius: 4px 4px 0 0;
  }

  table.table {
    background-color: $opacity-gray;
    span {
      min-height: 38px;
      display: inline-flex;
      align-items: center;
    }
  }
}
