.form-component {
  width: 50%;
  display: block;
  margin: auto;
  padding: 20px;
  background-color: $opasity-gray;
  border-radius: 10px;
  min-height: 36px;
  ul {
    padding: 0;
    li {
      margin: 5px;
      a {
        width: 180px;
      }
    }
  }
}

.content-info {
  margin-top: 20px;
  margin-left: 5px;
  .info-content {
    margin-top: 10px;
    .name {
      width: 240px;
      font-size: 20px;
      display: inline-flex;
    }
    .value {
      width: 340px;
    }
  }
}

.search-name {
  width: 300px;
}

.search-select {
  margin-left: 5px;
  margin-right: 5px;
  width: 150px;
}

.btn-custom {  
  width: 180px;
  margin-top: 10px;
}
