@import 'bootstrap';
@import '@fortawesome/fontawesome-free';
@import 'osbbs';
@import 'users';
@import 'basic';
@import 'account';
@import 'errors';
@import 'about';
@import 'admin_all_component';
@import 'admin_form';
