@import "bootstrap";
@import '@fortawesome/fontawesome-free';
@import 'osbbs';
@import 'billing_contracts';
@import 'users';

body{
  background-color: #e1ebee;
}

.header{
  // background: #0070b3;
  background-image: url("../../../public/ivano-frankivsk2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  height: 226px;
}

.navbar-brand{
  font-weight: bold;
  font-size: x-large;
}

.auth-btn {
  color: whitesmoke
}

.auth-btn:hover {
  color: whitesmoke;
  background-color: #556588;
}

.navbar-header{
  background-color: rgba(255, 255, 255, 0.15);
}

.nav-links {
  color: white;
}

.nav-links:hover{
  color: whitesmoke;
  background-color: #556588;
}

#dropdownMenuButton{
  width: 158px;
}

.dropdown-lang {
  background: #798db6;
  width: 155px;
}

.footer{
  background: #556588;
  color:whitesmoke;

  .links{
    ul {list-style-type: none;}
    li a{
      color: whitesmoke;
      transition: color .2s;
      &:hover{
        text-decoration:none;
        color:#518fda;
        }
    }
  }

  .about-company{
    i{font-size: 25px;}
    a{
      color:whitesmoke;
      transition: color .2s;
      &:hover{color:#4180CB}
    }
  }

  .location{
    i{font-size: 18px;}
  }

  .copyright p{
    border-top:1.5px solid rgba(255, 255, 255, 0.418);
    font-size: 20px;
  }
}

p{
  text-indent: 1.7em;
  text-align: justify;
}

.imd-build{
  width: 55%;
  height: 200px;
}
