body {
  background-color: #e1ebee;
}

.header {
  background-image: url("../../../public/ivano-frankivsk2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  height: 226px;
}

.navbar-brand {
  font-weight: bold;
  font-size: x-large;
}

.auth-btn {
  color: whitesmoke
}

.auth-btn:hover, .btn-submit:hover, .nav-links:hover {
  color: whitesmoke;
  background-color: #556588;
}

.btn-submit {
  color: whitesmoke;
  background-color: #798db6;
}

.navbar-header {
  background-color: inherit;
}

.nav-links {
  color: white;
}

#dropdownMenuButton {
  width: 158px;
}

.dropdown-lang {
  background: #798db6;
  width: 155px;
}

.footer {
  background: #556588;
  color:whitesmoke;

  .links {
    ul {
      list-style-type: none;
    }
    li a {
      color: whitesmoke;
      transition: color .2s;
      &:hover {
        text-decoration:none;
        color:#518fda;
      }
    }
  }

  .about-company {
    i {
      font-size: 25px;
    }
    a {
      color:whitesmoke;
      transition: color .2s;
      &:hover {
        color:#4180CB;
      }
    }
  }

  .location i {
    font-size: 18px;
  }

  .copyright p {
    border-top:1.5px solid rgba(255, 255, 255, 0.418);
    font-size: 20px;
  }
}

p {
  text-indent: 1.7em;
  text-align: justify;
}

.imd-build {
  width: 55%;
  height: 200px;
}

.alert.alert-alert {
  color: #ca0909;
  margin: 0 auto;
}

.pagination-container {
  display: flex;
  justify-content: center;
}

.content-abc {
  min-width: 200px;
  max-width: 600px;
  background-color: whitesmoke;
  border-radius: 20px;
}

.input-properties {
  background-color: #eff6f8;
  border-radius: 2px;
  border: 0.5px solid #798db6;
}

@media screen and (max-width: 600px) {
  .form-prop {
    min-width: 170px;

    .icon-prop {
      min-width: 15px;
    }

    .input-prop {
      min-width: 150px;
    }
  }
}
