.breadcrumb {
  width: max-content;
  margin-bottom: -2em;
  height: 28px;
  padding: 3px 16px;
  border-radius: 0 20px 20px 0;
  box-shadow: inset 0 5px 5px -5px #000, 
              inset 0 -5px 5px -5px #000;
}
