// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// Place all the styles related to the Osbbs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.date.optional.user_birthday.field_without_errors,
.form-group.user-birth,
.form-group.user-form input,
.form-group.user-form select {
  width: 500px;
  margin: auto;
}

.form-group.user-birth {
  margin-top: 20px;
}

.date.optional select {
  margin-right: 10px;
}

.date.optional label {
  margin-right: 30px;
}

.use-avatar {
  width: 500px;
  margin: 30px auto;
}

.form-group.user-form {
  label,
  span.error {
    margin-bottom: 0;
    margin-top: 20px;
    margin-left: 310px;
  }
}

div.form-group.user-form.use-avatar span {
  margin-left: 0;
}

.form-group.down-btn {
  margin-left: 310px;
}

a.btn.btn-outline-danger {
  margin-left: 10px;
}

.user-info {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.user-item {
  margin: 5px 0 5px 10px;
}

.naming-user {
  width: 200px;
  font-size: 20px;
  display: inline-flex;
}

span.insert-user {
  font-size: 17px;
}

.nav-item-user a {
  margin-left: 10px;
}

.user-avatar {
  width: auto;
  height: 100px;
}

.user-avatar-show {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.show-user {
  width: auto;
  height: 150px;
}

.navbar-user {
  margin-top: 20px;
}

.show-box {
  display: flex;
  justify-content: center;
}

.user-index {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
}

.show-btn {
  margin-left: 30px;
}
