// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// Place all the styles related to the Osbbs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.date.optional.user_birthday.field_without_errors,
.form-group.user-birth,
.form-group.user-form input,
.form-group.user-form select {
  width: 500px;
  margin: auto;
}

.form-group.user-birth {
  margin-top: 20px;
  margin-right: 10px;
}

.date.optional select {
  margin-right: 20px;
  float: right;
}

.show-user-btn {
  display: inline-block;
  border:none;
  width: 100px !important;
  height: 80px;
  text-align: center;
  text-decoration: none;
  img {
    width: 70%;
    height: 70%;
  }
}

.zoom-70 {
  zoom: 0.7;
}

.right-btn {
  position:absolute; top:0; right:0;
}

.left-btn {
  position:absolute; top:0; left:0;
}

.use-avatar {
  width: 500px;
  margin: 30px auto;
}

.form-group.user-form {
  label,
  span.error {
    margin-bottom: 0;
    margin-top: 20px;
    margin-left: 20px;
  }
}

div.form-group.user-form.use-avatar span {
  margin-left: 0;
}

.form-group.down-btn {
  text-align: center;
}

a.btn.btn-outline-danger {
  margin-left: 10px;
}

.show-box,
.user-avatar-show,
.user-index,
.user-index-size,
.user-info {
  display: flex;
}

.user-info {
  flex-direction: column;
  min-width: 90%;
}

.user-item {
  margin: 5px 0 5px 0px;
}

.user-item-hr{
  border-top: 1px solid black;
  width: 99%;
  margin: 0;
}

.naming-user {
  width: 50%;
  font-size: 20px;
  display: inline-flex;
}

.user-form-max-width {
  max-width: 885px !important;
}

span.insert-user {
  font-size: 20px;
  white-space: nowrap;
}

.nav-item-user a {
  margin-left: 10px;
}

.navbar-user {
  margin-top: 20px;
}

.show-box,
.user-avatar-show {
  justify-content: center;
}

.user-index {
  flex-wrap: wrap;

  .user-index-size.layout-user-content.rounded {
    .imp {
      margin-left: 10px;
    }
  }
}

.show-btn {
  margin-left: 30px;
}

.layout-user-content,
.show-user-content {
  background-color: $half-opacity-background;
  padding-top: 20px;
}

.container-wrapper-user {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.user-index-size {
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 20px;
}

.user-hidden-block {
  white-space: nowrap;
  overflow: hidden;
  margin-right: 20px;
}

.form-component.form-component-user {
  max-width: 600px;
}

.col-md-4.user-size-item {
  min-width: 500px;
}

.user-avatar, .user-avatar-default {
  border: 1px solid black;
  border-radius: 50%;
}

.user-avatar-default {
  width: 100px;
  height: 100px;
}
