// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// Place all the styles related to the Osbbs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.date.optional.user_birthday.field_without_errors,
.form-group.user-birth,
.form-group.user-form input,
.form-group.user-form select {
  width: 500px;
  margin: auto;
}

.form-group.user-birth {
  margin-top: 20px;
  margin-right: 10px;
}

.date.optional select {
  margin-right: 10px;
}

.date.optional label {
  margin-right: 30px;
}

.use-avatar {
  width: 500px;
  margin: 30px auto;
}

.form-group.user-form {
  label,
  span.error {
    margin-bottom: 0;
    margin-top: 20px;
    margin-left: 20px;
  }
}

div.form-group.user-form.use-avatar span {
  margin-left: 0;
}

.form-group.down-btn {
  text-align: center;
}

a.btn.btn-outline-danger {
  margin-left: 10px;
}

.show-box,
.user-avatar-show,
.user-index,
.user-index-size,
.user-info {
  display: flex;
}

.user-avatar-show,
.user-info {
  flex-direction: column;
}

.user-item {
  margin: 5px 0 5px 10px;
}

.naming-user {
  width: 170px;
  font-size: 20px;
  display: inline-flex;
}

span.insert-user {
  font-size: 17px;
}

.nav-item-user a {
  margin-left: 10px;
}

.user-avatar-show {
  margin-right: 50px;
}

.navbar-user {
  margin-top: 20px;
}

.show-box,
.user-avatar-show {
  justify-content: center;
}

.user-index {
  flex-wrap: wrap;
}

.show-btn {
  margin-left: 30px;
}

.layout-user-content,
.show-user-content {
  background-color: $half-opacity-background;
  padding-top: 20px;
}

.container-wrapper-user {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.user-index-size {
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 20px;
}

.user-hidden-block {
  white-space: nowrap;
  overflow: hidden;
  margin-right: 20px;
}

.form-component.form-component-user {
  max-width: 600px;
}

.col-md-4.user-size-item {
  min-width: 500px;
}

.user-avatar, .user-avatar-default {
  border-radius: 50%;
}

.user-avatar-default {
  width: 100px;
  height: 100px;
}
