@import 'colors.scss';
body {
  background-color: rgba($color: #000000, $alpha: 0);
}

body.account {
  .greetings {
    color: white;
  }

  .content {
    width: 100%;
    padding-bottom: 20px;
  }
  .navbar.navbar-expand-lg.navbar-dark.navbar-header {
    background-color: $light-steel-blue;

    .navbar-collapse.collapse {
      justify-content: space-between;
    }
  }

  .container__box {
    background-image: url("../../../public/golovna.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .container__box > .container-fluid {
    background: $gainsboro;
    background-size: cover;
    height: 100%;
  }

  .acount-content {
    padding: 40px 0;
  }

  .container-fluid {
    .billing-contract {
      h1 {
        margin-top: 0;
        padding-top: 30px;
      }
    }
  }

  .dropdown-lang {
    background-color: $light-steel-blue;
    width: 155px;
  }
  
  .export-bc {
    .dropdown-format {
      background-color: $opacity-black;
      min-width: 1rem;
      left: -12px !important;

      .dropdown-item:hover {
        background-color: $opacity-gray;
        color: #000;
        transform: scale(1);
      }
    }
  }
  
  .auth-btn:hover, .btn-submit:hover, .nav-links:hover {
    font-weight: normal;
    transform: scale(1.03);
    text-shadow: .3px .3px white;
  }

  .auth-btn {
    color: white;
  }

  .dropdown-item:hover {
    background-color: $light-steel-blue;
    transform: scale(1);
  }

  .alert {
    margin-bottom: 0;
  }

  .billing_contracts_import_file {
    label.file.optional {
      display: none;
    }

    .file.optional.form-check-input {
      position: static;
    }
  }

  .simple_form.mx-auto.billing-form {
    .text-center {
      .btn.btn-success.btn-custom {
        width: 50px;
        margin-left: 10px;
      }
    }
  }
}
