@import 'colors.scss';
body.account {
  .greetings {
    color: white;
  }
  .content {
    width: 100%;
    padding-bottom: 20px;
  }
  .navbar.navbar-expand-lg.navbar-dark.navbar-header {
    background-color: $light-steel-blue;

    .navbar-collapse.collapse {
      justify-content: space-between;
    }
  }

  .container__box {
    background-image: url("../../../public/golovna.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .container__box > .container-fluid {
    background: $gainsboro;
    background-size: cover;
    height: 100%;
  }
  .acount-content {
    padding-top: 40px;
  }
  .container-fluid {
    .billing-contract {
      h1 {
        margin-top: 0;
        padding-top: 30px;
      }
    }
    .cabinet__container {
      nav.col-md-4.d-none.d-md-block.sidebar {
        background-color: $solitude;
        border-radius: 10px;
      }
    }
  }
  .dropdown-lang {
    background-color: $light-steel-blue;
    width: 155px;
  }
  .auth-btn:hover, .btn-submit:hover, .nav-links:hover {
    font-weight: normal;
    transform: scale(1.03);
    text-shadow: .3px .3px white;
  }
  .auth-btn {
    color: white;
  }
  .dropdown-item:hover {
    background-color: $light-steel-blue;
    transform: scale(1);
  }
  .alert {
    margin-bottom: 0;
  }
}
