- breadcrumbs [\
  { home: true, url: home_path },\
  { title: 'OSBB News', url: account_news_index_path },\
  { title: 'Edit' }\
]
.container
  = react_component 'my_osbb/News/Edit/Edit_news', props={post: @post}
