/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  @import "bootstrap"; 

//   .header{
//   background: #0070b3;
//   // background-image: url("https://d2bivpxs8ong2u.cloudfront.net/images/resize/1040x2.5/853ffa71f1e94ed9.jpg");
//   height: 400px;
// }

.footer{
  background: #0070b3;
  color:whitesmoke;
  
  .links{
    ul {list-style-type: none;}
    li a{
      color: whitesmoke;
      transition: color .2s;
      &:hover{
        text-decoration:none;
        color:#8ba7c9;
        }
    }
  }  
  .about-company{
    i{font-size: 25px;}
    a{
      color:whitesmoke;
      transition: color .2s;
      &:hover{color:#4180CB}
    }
  } 
  .location{
    i{font-size: 18px;}
  }
  .copyright p{
    border-top:1.5px solid rgba(255, 255, 255, 0.418);
    font-size: 20px;
  } 
}
