@import 'colors';
@import url('https://fonts.googleapis.com/css?family=Cabin:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:900');

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#error {
  position: relative;
  height: 100vh;

  .error {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.error {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;

  .error-num {
    position: relative;
    height: 240px;

    h1 {
      font-family: 'Montserrat', sans-serif;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-size: 252px;
      font-weight: 900;
      margin: 0px;
      color: $text-raisin;
      text-transform: uppercase;
      letter-spacing: -40px;
      margin-left: -20px;

      >span {
        text-shadow: -8px 0px 0px #fff;
      }
    }

    h3 {
      font-family: 'Cabin', sans-serif;
      position: relative;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      color: $text-raisin;
      margin: 0px;
      letter-spacing: 3px;
      padding-left: 6px;
    }
  }

  h2 {
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: $black;
    margin-top: 0px;
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 767px) {
  .error {
    .error-num {
      height: 200px;

      h1 {
        font-size: 200px;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .error {
    .error-num {
      height: 162px;

      h1 {
        font-size: 162px;
        height: 150px;
        line-height: 162px;
      }
    }

    h2 {
      font-size: 16px;
    }
  }
}